body
{
	margin : 0;
	padding : 0;
	background : coral;
}
.block
{
  width: 100vw;
  height: 100vh;
  background-color: lime;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  grid-template-areas: 
  "party_other"
  "party_my";
}
.party_other
{
  grid-area: party_other;
  background-color: green;
  overflow-y: scroll;
}
.number_0
{
  width: 100vw;
  height: 110vw;
  background-color: red;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  grid-template-areas:
  "photo photo"
  "people_number distance";
}
.number_0_photo
{
  grid-area: photo;
  background-color: blue;
}
.number_0_distance
{
   grid-area: distance;
   background-color: yellow;
}
.number_1
{
  width: 100vw;
  height: 110vw;
  background-color: red;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  grid-template-areas:
  "photo photo"
  "people_number distance";
}
.number_1_photo
{
  grid-area: photo;
  background-color: blue;
}
.number_1_distance
{
   grid-area: distance;
   background-color: yellow;
}
.party_my
{
  grid-area: party_my;
  background-color: aqua;
}